

<br/><br/>
<div class="w3-content w3-display-container">
<img class="mySlides" src="/slika11.jpg" style="width:1000px; height:600px;">
<img class="mySlides" src="/slika12.jpg" style="width:1000px; height:600px;">
<img class="mySlides" src="/slika13.jpg" style="width:1000px; height:600px;">
<img class="mySlides" src="/slika14.jpg" style="width:1000px; height:600px;">

<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
<button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
showDivs(slideIndex += n);
}

function showDivs(n) {
var i;
var x = document.getElementsByClassName("mySlides");
if (n > x.length) {slideIndex = 1}    
if (n < 1) {slideIndex = x.length}
for (i = 0; i < x.length; i++) {
   x[i].style.display = "none";  
}
x[slideIndex-1].style.display = "block";  
}
</script>





<br/><br/>


<div class="row">
    <div class="col-md-12"> 

    </div> 
</div> 

<div class="jumbotron">
    <div class="row">

        <div class="col-md-4">
        <h3> Historijat </h3>

        <p> Kraj 19. i početak 20 stoljeća u Bosni i Hercegovini su obilježeni vidnim promjenama privrednih prilika. Bosna i Hercegovina se postepeno, od izrazito agrarne i manufakturne zemlje pretvara u zemlju u kojoj se zanatstvo, trgovina i industrija naglo razvijaju. Taj razvoj pratio je i razvoj bankarstva, privrednih komora (trgovačke, zanatske) kao i sve veća potreba za stručnim kadrom u novoj privredi. U početku je stručni finansijski kadar dolazio iz drugih krajeva Austrougarske, ali ubrzo se pojavila ideja o obrazovanju domaćeg stručnog finansijskog kadra. Nosilac te ideje bile su privredne komore - konkretno Trgovačko - obrtnička komora, koja je zagovarala ideju školovanja domaćeg kadra. </p>
        <span><a href="<%= o_nama_path %>"> Nastavite čitati na narednoj stranici...</a></span>
        </div>

        <div class="col-md-4">
        <h3> Novosti </h3>

        <p> Učenici trećeg razreda naše škole odrekli su se ovogodišnjeg proljetnog izleta sa razrednicima u korist oboljelog prijatelja iz III-6 odjeljenja. 

        Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu!  </p>
        <span><a href="<%= novosti_path %>"> Nastavite čitati na narednoj stranici...</a></span>
        </div>

        <div class="col-md-4">
        <h3> Nastava </h3>

        <p>Tokom dugog postojanja škola je mijenjala i primjenjivala više nastavnih planova i programa. Glavne izmjene u nastavnim planovima i programima bile su u nacionalnim predmetima: jeziku, historiji i geografiji. Što se tiče stručnih predmeta nije bilo većih izmjena i uglavnom je primjenjivan nastavni plan i program iz 1938. godine.
        Pored klasičnog pristupa obradi lekcija iz udžbenika i knjiga, sveprisutna je multimedijalna nastava koja odgovara modernim pedagoškim mjerilima. Također, dvije sedmice (jedna u prvom i jedna u drugom polugodištu) nastave se realiziraju na principu učenja na daljinu, putem interneta. </p>
        </div>

    </div>
</div>

 <hr/> 

<div class="jumbotron">
    <div class="row">

        <div class="col-md-8">
            <h3>Djelatnici u nastavi  </h3>
        </div>

    </div>

<br/><br/>

    <div class="row">

        <div class="col-md-3">
            <img src="profilna3.jpg"  height="150" width="150" >   
        </div>

        <div class="col-md-3">
            <img src="profilna2.png"  height="150" width="150" >   
        </div>

        <div class="col-md-3">
            <img src="profilna3.jpg"  height="150" width="150" >       
        </div>

        <div class="col-md-3">
            <img src="profilna2.png"  height="150" width="150" >    
        </div>

    </div>
</div>


    <hr/> 

<div class="jumbotron">
    <div class="row">

        <div class="col-md-8">
            <h3>Učenici </h3>
        </div>

    </div>

<br/><br/>


    <div class="row">

        <div class="col-md-3">
            <img src="profilna3.jpg"  height="150" width="150" >   
        </div>

        <div class="col-md-3">
            <img src="profilna2.png"  height="150" width="150" >   
        </div>

        <div class="col-md-3">
            <img src="profilna3.jpg"  height="150" width="150" >      
        </div>

        <div class="col-md-3">
            <img src="profilna2.png"  height="150" width="150" >    
        </div>

    </div>
</div>





<style>

span a{
    color: lightblue;
    text-decoration: none;
}
span a:hover{
    color: blue;
    text-decoration: none;
}


</style>