<div class="row">
    <div class="col-md-12"> 
    <img src="slika2.jpg"  height="500" width="1024" >
    </div> 
</div> 

<div class="jumbotron">



<div class="row">

<div class="col-md-4">
<h3> Dan otvorenih vrata </h3>

<p> JU Srednja ekonomska škola, Sarajevo poziva roditelje, učenike, nastavnike i direktore na Dan otvorenih vrata u srijedu, 09.5.2018.god. 
od 11,00 do 15,00 sati.


Radujemo se Vašem dolasku! </p>

</div>



</div>
<br/><br/><br/>
<div class="row">
    <div class="col-md-4">
    <img src="dov.png"  height="300" width="300" >
       
    </div>

    <div class="col-md-4">

    </div>

    <div class="col-md-4">
       
        
    </div>

    
</div>