<div class="row">
    <div class="col-md-12"> 
        <center>
             <img src="slika2.jpg"  height="500" width="1024" >
        </center>
    </div> 
</div>

<br/>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-12"> 
            <h3> <img class="kockice" src="/redsquare.png" />  Izdvojeno </h3>
            <hr/>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
                <span> Dani hemije </span><br/>
                
                <img src="http://www.ses.edu.ba/_/rsrc/1526025187220/home/hemija2.jpg?" style='width:100%; height:auto;' />
                
                <h3> Otvoreni dani hemije na PMF-u u Sarajevu </h3>
                <p> Učenici I (prvog) razreda naše Škole pokazali su svoj interes za hemijom, prisustvom na manifestaciji „OTVORENI DANI HEMIJE“ na Prirodno matematičkom fakultetu u Sarajevu, 19. aprila 2018. godine.  </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-6">
                <span> Dan otvorenih vrata </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
                <h3> Dan otvorenih vrata u ekonomskoj školi </h3>
                <p> 17.4.2018. godine učenici II-1 i II-2 razreda su posjetili tvornicu Coca-Cole u Hadžićima, Sarajevo i upoznali organizacione, marketinške, tehnološke aspekte poslovanja ove moderne punionice koja proizvodi i prodaje najpopularnije i najprodavanije piće u historiji i najpoznatiji svjetski brend. </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
                <span> Posjeta Coca-Coli </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1524234204416/home/cc1.jpg?" style='width:100%; height:40%;' />
                <h3> Učenici posjetili punionicu Coca-Cole u Hadžićima </h3>
                <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije. Akcija za svaku pohvalu! </p>
                <span> 14-Maj-2018 </span>
        </div>

    </div>
</div>
    <br/> <br/> <br/>


<div class="jumbotron"> 

    <div class="row">
        <div class="col-md-12"> 
            <h3> <img class="kockice" src="/bluesquare.png" />   Ostale novosti </h3>
            <hr/>
        </div>
    </div> 

    <div class="row">

        <div class="col-md-3">
                <span> Općinsko takmičenje </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1524148607080/home/XXIII%20OTPP%2020.jpg?" style='width:100%; height:auto;' />
                <h3> Drugo mjesto na općinskom takmičenju iz pružanja prve pomoći </h3>
                <p> U subotu 24. marta 2018. godine u prostorijama JU OŠ “Kovačići”, u organizaciji Crvenog križa Općine Novo Sarajevo. održano je XXIII općinsko takmičenje iz pružanja prve pomoći osnovnih i srednjih škola sa područja općine Novo Sarajevo.  </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
                <span> Ekonomijada 2018. </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1523433445794/home/ekonomijada181.jpg?" style='width:100%; height:auto;' />
                <h3> Drugo mjesto na Ekonomijadi 2018. godine </h3>
                <p> Srednja ekonomska škola, Sarajevo učestvovala je na ovogodišnjoj "Ekonomijadi", trodnevnom druženju i razmjenjivanju znanja i iskustva iz ekonomske grupe predmeta kojem je domaćin bila Prva ekonomska škola Zagreb. </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
                <span> Narodno pozorište </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1522835533402/home/nps1.jpg?" style='width:100%; height:auto;' />
                <h3> Posjeta Narodnom pozorištu </h3>
                <p> NMjesec mart u našoj školi ove godine bio je posvećen pozorišnoj umjetnosti. U organizaciji Škole, a finansirana sredstvima učeničke školarine, u dva termina organizirana je posjeta učenika Škole Narodnom pozorištu, Sarajevo. </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
            <span> Karate turnir </span><br/>
            <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
            <h3> Sportski uspjeh našeg učenika </h3>
            <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. </p>
            <span> 14-Maj-2018 </span>
        </div>

    </div>
<br/><br/>
    <div class="row">

        <div class="col-md-3">
                <span> Mini naslov </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
                <h3> Veliki naslov </h3>
                <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu! </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-6">
                <span> Mini naslov </span><br/>
                <iframe width="500" height="315" src="https://www.youtube.com/embed/NlvmZY5lCnc" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h3> Veliki naslov </h3>
                <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu! </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
                <span> Mini naslov </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
                <h3> Veliki naslov </h3>
                <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu! </p>
                <span> 14-Maj-2018 </span>
        </div>

    </div>
    <br/><br/><br/>
    <div class="row">

        <div class="col-md-3">
                <span> Mini naslov </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
                <h3> Veliki naslov </h3>
                <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu! </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
                <span> Mini naslov </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
                <h3> Veliki naslov </h3>
                <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu! </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
                <span> Mini naslov </span><br/>
                <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
                <h3> Veliki naslov </h3>
                <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu! </p>
                <span> 14-Maj-2018 </span>
        </div>

        <div class="col-md-3">
            <span> Mini naslov </span><br/>
            <img src="http://www.ses.edu.ba/_/rsrc/1525352354481/home/setnja_za_prijatelja.jpg?" style='width:100%; height:auto;' />
            <h3> Veliki naslov </h3>
            <p> Nakon humanitarnog bazara 26. aprila i sveopće humanitarne akcije, sredstva koja bi bila utrošena za organizaciju izleta uplatili su na njegov račun, a oni se 27. aprila našli sa razrednicima u Vilsonovom šetalištu, gdje su prošetali zajedno, družili se ili popili kafu u jednom od kafića. Akcija za svaku pohvalu! </p>
            <span> 14-Maj-2018 </span>
        </div>

    </div>
</div>




<style>
span{
    color: darkred;
    font-variant: small-caps;
}
.kockice{
    width: 15px;
    height: 15px;
}

</style>