<div class="row">
    <div class="col-md-12"> 
        <center>
        <img src="slika2.jpg"  height="500" width="1024" >
        </center><br/>
    </div> 
</div> 

<div class="jumbotron">

    <div class="row">

        <div class="col-md-12">
            <h3> Historijat </h3>

            <p> Kraj 19. i početak 20 stoljeća u Bosni i Hercegovini su obilježeni vidnim promjenama privrednih prilika. Bosna i Hercegovina se postepeno, od izrazito agrarne i manufakturne zemlje pretvara u zemlju u kojoj se zanatstvo, trgovina i industrija naglo razvijaju. Taj razvoj pratio je i razvoj bankarstva, privrednih komora (trgovačke, zanatske) kao i sve veća potreba za stručnim kadrom u novoj privredi. U početku je stručni finansijski kadar dolazio iz drugih krajeva Austrougarske, ali ubrzo se pojavila ideja o obrazovanju domaćeg stručnog finansijskog kadra. Nosilac te ideje bile su privredne komore - konkretno Trgovačko - obrtnička komora, koja je zagovarala ideju školovanja domaćeg kadra. Prvo su kao stručne škole toga smjera u Bosni i Hercegovini otvorene trgovačke škole. Prva trgovačka skola osnovana je 1885. godine u Tuzli i imala je tri razreda. Poslije Tuzle, trgovačke škole su otvorene u Brčkom, Banjoj Luci, Mostaru, Livnu, Sarajevo, Bihaću, Bijeljini, Travniku i Trebinju. Ove škole su radile do 1908. godine kada ih je ukinula Zemaljska vlada za Bosnu i Hercegovinu, jer nisu zadovoljavale kriterij trgovačkih skola. Iste godine otvorene su nove trgovačke stručne škole u Sarajevu, Mostaru i Tuzli i trajale su pet godina.

                Rasprava o otvaranju finansijske škole višeg stupnja vodila se nekoliko godina. Tako već 1910. godine Trgovačka škola i obrtnička komora za BiH u Sarajevu u svom dopisu od 19.11.1910. godine upućenom Zemaljskoj vladi za BiH traži otvaranje jednogodišnjeg merkatilnog tečaja za apsolvente srednjih škola i ujedno predlaže da se u Sarajevu osnuje Trgovačka akademija ''sa sličnim uređenjem i nastavnom osnovom kao akademije u Monarhiji''. Ta ideja dalje je razrađena u Trgovačkoj i obrtničkoj komori pa je na njenoj plenarnoj sjednici 19. i 20. juna 1911. godine pod tačkom 5. dato detaljno obrazloženje o potrebi otvaranja Trgovačke akademije u Sarajevu. Kao rezultati aktivnosti u oktobru 1912. godine u Sarajevu je otvorena Trgovačka akademija.
                
                Svečano otvaranje Državne trgovačke akademije u Sarajevu bilo je 1. oktobra 1912. godine u 10 sati u auli Velike realke Franje Josipa u Sarajevu. Akademiju je otvorio izaslanik Zemaljske vlade za Bosnu i Hercegovinu vladin savjetnik Franjo Bordnik. Svoj rad Akademija je odmah započela na osnovu statuta o uređenju Državne trgovačke akademije u Sarajevu u kome je detaljno bio obrađen rad te škole. Na osnovu statuta školovanje je trajalo 4 godine, a vrijedile su sve odredbe kao i za druge srednje škole u BiH. U prvoj 1912/1913. školskoj godini otvoren je samo prvi razred, sljedećih godina otvarali su se i ostali razredi tako da je 1915/16. godine Akademija imala IV razred, odnosno, te godine maturiralo je prvih osam učenika Državne trgovačke akademije u Sarajevu. Ovako mali broj prvih maturanata, u odnosu na 128 učenika upisanih u prvi razred 1912/13. godine, bio je uslovljen Prvim svjetskim ratom, jer su mnogi učenici ili napustili školu ili bili mobilisani u vojsku. </p>

        </div>
    </div>
</div>

<hr/>

<div class="jumbotron">

    <div class="row">
        <div class="col-md-3">
        <img src="slika3.jpg"  height="150" width="200" >

        </div>

        <div class="col-md-3">
        <img src="slika4.jpg"  height="150" width="200" >   
        </div>

        <div class="col-md-3">
        <img src="slika5.jpg"  height="150" width="200" >   
            
        </div>

        <div class="col-md-3">
        <img src="slika6.jpg"  height="150" width="200" >   
        </div>
    </div>
    
</div>